.Posts {
  background-color: white;
  box-shadow: 0px 1px 10px 0px rgba(227,227,227,0.5);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 3rem;
  padding: 2rem 2rem 0 2rem;


  @media only screen and (min-width: 601px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 3rem;
    padding: 3rem 2rem 0 2rem;
  }

  @media only screen and (min-width: 959px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
