.PopupImage {

  &__small {
    display: block;
    margin: 1rem auto;
    width: 65%;

    &:hover {
      cursor: pointer;
    }
  }

  &__dialog {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5rem;
  }

  &__image {
    img {
      display: block;
      margin: .5rem auto;
      width: 90%;
    }
  }
  &__icon:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 601px) {
    &__image {
      img {
        width: 85%;
      }
    }
  }
  
  @media only screen and (min-width: 801px) {
    &__dialog {
      padding: .5rem 1rem;
    }
    &__image {
      img {
        width: 75%;
      }
    }
  }
}
