.PostPreview {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: 
  "img div";

  img {
    grid-area: img;
    max-width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  .PostPreview__text {
    padding: 3rem 2rem;
    grid-area: div;
    box-shadow: 1px 20px 40px 1px rgba(204,204,204,1);
  }

  .read-more:hover, 
  h2:hover {
    color: #FF7C26;
    cursor: pointer;
  }

  .tag {
    color: #FF7C26;
  }

  &.flipped {
    grid-template-areas: 
    "div img";
  }
}
