@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

.Permaculture {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 1px 10px 0px rgba(227,227,227,0.5);
  margin-top: 3rem;

  p {
    text-indent: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  &__pic {
    display: block;
    margin: 3rem auto 1rem auto;
  }

  &__one {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }

  &__two {
    display: grid;
    grid-template-columns: 1.7fr 3fr 2.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "spiral text guild";
    margin-bottom: 2rem;

    .spiral {
      grid-area: spiral;
      margin: auto;
    }

    p {
      grid-area: text;
      margin: auto 1rem;
    }

    .guild {
      grid-area: guild;
      margin-left: 1rem;
    }
  }

  span, h3 {
    color: #FF7C26;
  }

  a {
    color: #6c757d;

    &:hover {
    color: #FF7C26;
    text-decoration: none;
    }
  }

  &__blockquote {
    font-family: 'PT Mono', monospace;
    margin: 2rem 5rem;
    padding: 2rem 3rem;
    text-align: justify;
    border: 2px solid #e7e7e7;
  }
}
