.header {
    text-align: center;

    img {
      margin: 40px 0;
    }

    .line-center {
      border: 0;
      height: 1px;
      background-color: #e7e7e7;
      width: auto;
      margin: 0;
    }
}
