.Header {
    text-align: center;

    img {
      margin: 40px auto;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: #e7e7e7;
      width: auto;
      margin: 0;
    }

    @media only screen and (max-width: 600px) {
      img {
        padding: .5rem 1rem;
      }
    }
}
