.Navbar {
  nav {
    margin: .5rem 0;
  }
  .nav-item {
    color: #525252;
    border-bottom: 1px solid transparent;
    
    &.active {
      color: black;;
    }
    &:hover {
      color: #FF7C26;
      border-bottom: 1px solid;
    }
  }
}
