.Footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e7e7e7;
  padding: 1.5rem 1rem;
  align-items: flex-start;

  &__link {
    display: block;
    color: #6c757d;
    padding: 0 .5rem;
  
    &:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__icon {
    display: block;
    margin-right: 0;

    &:hover {
      cursor: pointer;
    }
  }
  img { 
    height: 50px;
  }

  @media (min-width: 787px) {
    
    align-items: center;
    padding: 2rem 3rem;

    &__link {
      display: inline-flex;
    }

    &__icon {
      display: inline-block;
      margin-right: 1rem;
    }
    img { 
      height: 65px;
    }
  }
}    
