@import url('https://fonts.googleapis.com/css?family=Raleway|Courier+Prime|Lato&display=swap');

html * {
    font-family: 'Raleway', sans-serif;

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
  }

  li {
    text-indent: .3rem;
  }

  .jumbotron {
    background-color: #f7f7f7;
  }

  .tag {
    color: #FF7C26;
    text-indent: 0;
  }
}
